@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Index button styles */

.createButton {
  margin-left: 15px;
  background-color: #3490dc;
  color: white;
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 5px;
}

.createButton:hover {
  background-color: #1e74e6;
  transition: ease-in 200ms;
}

.edit {
  color: blue;
}

.edit:hover {
  text-decoration: underline;
}

.editButton {
  background-color: #ffc107;
  color: #343a40;
  text-decoration: none;
  padding: 10px 20px;
  margin: 20px 0;
  border-radius: 8px;
  cursor: pointer;
}

.deleteButton {
  background-color: #dc3545;
  color: white;  
  text-decoration: none;
  padding: 10px 20px;
  margin: 20px 0;
  border-radius: 8px;
  cursor: pointer;  
}

/* Index table styles */

header {
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

table td, table th {
  border: 1px solid black;
  padding: 8px;
  color: black;
}

table tr:nth-child(even) {
  background-color: #eee;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  font-size: 14px;
  background-color: grey;
  color: white;
}

/*Create form styles*/

.headings {
  display: flex;
  justify-content: space-between;
}

.heading {
  font-weight: 500;
}

.errors {
  color: red;
}

.inputField {
  margin-top: 5px;
  margin-bottom: 30px;
  width: 100%;
  border-radius: 10px;
  border-color: rgb(100, 100, 100, 60%);
}

.productList {
  background-color: white;
  padding: 10px;
  border: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: rgb(100, 100, 100, 60%);
  margin-bottom: 30px;
}

.productItem {
  margin: 10px 0px;
}